<%- include('../includes/body') %>

<%- include('../includes/nav') %>

<div class="products">
    <%if (products.length > 0) { %>
    <h1>Produtos de nossa loja:</h1>
    <div class="items">
        <% products.forEach(product => { %>
                <div class="product" onclick="window.location.href='/shop/<%= product._id %>'">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <h3><%= product.title %></h3>
                    <h4 class="price">R$ <%= product.price %></h4>
                    <h4 class="desc">- <%= product.description %></h4>
                </div>
        <% }) %>
    </div>
    <% } else { %>
        <h1>Sem produtos...</h1>
    <% } %>
</div>

<%- include('../includes/end') %>