<%- include('../includes/body') %>

<%- include('../includes/nav') %>

 <form action="/new-password" method="POST">
    <% if (errorMessage) { %>
        <div class="error"><%= errorMessage %></div>
    <% } %>
    <h2>Preencha os campos para atualizar sua senha:</h2>
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required>

    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="passwordToken value="<%= passwordToken %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Atualizar senha</button>
    <a href="/login" class="forgot">Já sei minha senha!</a>
</form>

<%- include('../includes/end.ejs') %>