<%- include('../includes/body') %>

<%- include('../includes/nav') %>

<main class="container">
    <section class="user-info">
        <h1 class="user-name"><%= user.name %></h1>
        <p class="user-email"><%= user.email %></p>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Sair da conta</button>
        </form>
    </section>

    <section class="cart-products">
        <h2>Seu carrinho:</h2>
        <% if (cartProds.length) { %>
            <ul class="product-list">
                <% cartProds.forEach(prod => { %>
                    <li class="product-item">
                        <h3><%= prod.productId.title %> - (<%= prod.quantity %>)</h3>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Vazio! Pode começar sua compra na aba 'Loja'</p>
        <% } %>
    </section>
</main>

<%- include('../includes/end') %>