<%- include('../includes/body') %>

<%- include('../includes/nav') %>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<h1><%= user.name %></h1>
<h1><%= user.email %></h1>
<% cartProds.forEach(prod => { %>
    <h1><%= prod.title %></h1>
    <% console.log(prod.productId.title) %>
<% }) %>

<%- include('../includes/end') %>