<%- include('../includes/body') %>

<%- include('../includes/nav') %>

 <form action="/reset" method="POST">
    <% if (errorMessage) { %>
        <div class="error"><%= errorMessage %></div>
    <% } %>
    <h2>Preencha os campos para resetar sua senha:</h2>
    <label for="email">E-Mail</label>
    <input type="email" name="email" id="email" required>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">resetar/button>
</form>

<%- include('../includes/end.ejs') %>