<%- include('../includes/body.ejs') %>
<%- include('../includes/nav.ejs') %>

<form action="/signup" method="POST">
    <% if (errorMessage) { %>
    <div class="error"><%= errorMessage %></div>
    <% } %>
    <h2>Preencha os campos para criar sua conta:</h2>
    <label for="username">Nome de Usuário</label>
    <input type="text" name="username" id="username" required>
    <label for="email">E-Mail</label>
    <input type="email" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <!-- <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword"> -->
    
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Criar conta</button>
</form>

<%- include('../includes/end.ejs') %>